.wholecontact{
   background-color: black;
}
.cont-page{

    width: 100%;
    height: 50vh;

    background-image: url(./img/cont-page.png);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  
}
.cont-page-h1{
    color: orangered;
    opacity: 1.0;
}

.cont-2-content{
    display: flex;
    column-gap: 10px;
    height: 60vh;
}



.cont-2-page1{
    width: 25%;
    height: 30vh;
    margin-left: 6%;
    margin-top: 7%;
    background-color: #1e1e1e;
}
.cont-2-page1-h1{
    color: orangered;
    font-size: 25px;
    margin-top: 15%;
    margin-left: 10%;
}
.cont-2-page1-para{
    color: gray;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 10%;
    
}
.contact-form{
    width: 100%;
    height: 80vh;
 
    background-color: #111111;
}
.form-div{
    
    align-items: center;
    justify-content: center;

}
.cont-form-heading{
    display: flex;
}
.cont-form-h1-1{
    color: orangered;
    margin-left: 38%;
}
.cont-form-h1-2{
    color: orangered;
    padding-top: 1.7%;
    padding-left: 1%;
    font-size: 30px;
}
.cont-form-h1-3{
    color: white;
    margin-left: 35%;
    font-size: 50px;
}
.form-label{
    margin-left: 35%;
    color: white;
    font-weight: bold;
    margin-top: 1%;
}
.form-input{
    margin-left: 35%;
    width: 23%;
    height: 5vh;
    background-color: black;
    border: none;
    color: white;

}

.form-btn-submit{
    margin-left: 43%;
    margin-top: 2%;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    width: 6%;
    height: 4vh;
    letter-spacing: 1px;
}
.form-btn-submit:hover{
    color: orangered;
    background-color: white;
}


@media screen and (max-width:425px) {


    .cont-2-content{
        display: inline;
        column-gap: 10px;
        height: 70vh;
    }
    .cont-2-page1{
        width: 90%;
        height: 30vh;
        margin-left: 6%;
        margin-top: 7%;
        background-color: #1e1e1e;
        margin-bottom: 10%;
    }
    .cont-2-page1-h1{
        color: orangered;
        font-size: 25px;
       
        margin-left: 10%;
        padding-top: 12%;
    }
    .contact-form{
        width: 100%;
        height: 90vh;
        background-color: #111111;
    }
    .cont-form-h1-1{
        color: orangered;
        margin-left: 20%;
    }
    .cont-form-h1-2{
        color: orangered;
        padding-top: 3%;
        padding-left: 2%;
        font-size: 25px;
    }
    .cont-form-h1-3{
        color: white;
        margin-left: 16%;
        font-size: 35px;
    }
    .form-label{
        margin-left: 16%;
        color: white;
        font-weight: bold;
        margin-top: 1%;
    }
    .form-input{
        margin-left: 16%;
        width: 70%;
        height: 5vh;
        background-color: black;
        border: none;
        color: white;
    
    }
    .form-btn-submit{
        margin-left: 38%;
        margin-top: 5%;
        border: none;
        background-color: orangered;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        width: 25%;
        height: 6vh;
        letter-spacing: 1px;
    }

}
